<h1>All Messages</h1>
<% @messages.each do |message| %>
  <div class="message">
    <p>Message: <%= message.content %></p>
    <p>From: <%= message.username %></p>
    <p>At: <%= message.created_at.rfc2822 %></p>
    <br>
  </div>
<% end %>
