<h1>All Messages</h1>
<%= tag(:div, class: "messages", data: {last: @last_message_id}) %>
  <% @messages.each do |message| %>
    <div class="message">
      <p>Message: <%= message.content %></p>
      <p>From: <%= message.username %></p>
      <p>When: <%= time_ago_in_words(message.created_at) %> ago</p>
      <br>
    </div>
  <% end %>
</div>

